<!DOCTYPE html>
<html lang="en" class="perfect-scrollbar-on">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/static/assets/img/favicon.png">
    <link rel="canonical" href="https://appseed.us/admin-dashboards/flask-dashboard-black">
    
    <title>
        Big Data Architecture App - Nostradamus
    </title>

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="/static/assets/css/nucleo-icons.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="/static/assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet">
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="/static/assets/demo/demo.css" rel="stylesheet">

    <!-- Specific Page CSS goes HERE  -->
    <style type="text/css">/* Chart.js */@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style>
    
</head>

<body class="">

    <div class="wrapper">
        {% include 'includes/sidebar.html' %}
        <!-- <div class="sidebar">
        <div class="sidebar-wrapper ps">
            <div class="logo">
            <a target="_blank" rel="sponsored noopener noreferrer" href="https://appseed.us/admin-dashboards/flask-dashboard-black" class="simple-text logo-mini">
                
            </a>
            <a target="_blank" rel="sponsored noopener noreferrer" href="https://appseed.us/admin-dashboards/flask-dashboard-black" class="simple-text logo-normal">
                NOSTRADAMUS.AI
            </a>
            </div>

            <ul class="nav">
            

            <li class=" active ">
                <a href="/">
                <i class="tim-icons icon-chart-pie-36"></i>
                <p>Home</p>
                </a>
            </li>
            
            
            
            <li class="">
                <a href="/page-user.html">
                <i class="tim-icons icon-single-02"></i>
                <p>User Profile</p>
                </a>
            </li>
            
            
            
            <li class="">
                <a href="/page-user.html">
                <i class="tim-icons icon-app"></i>
                <p>About</p>
                </a>
            </li><li>
                <a href="/logout">
                <i class="tim-icons icon-button-power"></i>
                <p>Logout</p>
                </a>
            </li>
            
                        
            </ul>
            
        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
        </div> -->

        <div class="main-panel ps ps--active-y">

            
            <!-- Navbar -->
            {% include 'includes/navigation.html' %}

            <!-- End Navbar -->

        <div class="content">

            <div class="row">

            <div class="col-12">
                <div class="card card-chart">
                <div class="card-header ">
                    <div class="row">
                    <div class="col-sm-6 text-left">
                        <h5 class="card-category">60 -day forecast</h5>
                        <h2 class="card-title" id="cryptoNameForcase">Ethereum</h2>
                    </div>
                    <div class="col-sm-6">
                        <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">

                            <label class="btn btn-sm btn-primary btn-simple active" id="0">
                                <input type="radio" name="options" checked="">
                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">ETH</span>
                                <span class="d-block d-sm-none">
                                <i class="tim-icons icon-single-02"></i>
                                </span>
                            </label>
                            <label class="btn btn-sm btn-primary btn-simple" id="1">
                                <input type="radio" class="d-none d-sm-none" name="options">
                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">BTC</span>
                                <span class="d-block d-sm-none">
                                <i class="tim-icons icon-gift-2"></i>
                                </span>
                            </label>
                            <label class="btn btn-sm btn-primary btn-simple" id="2">
                                <input type="radio" class="d-none" name="options">
                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">XMR</span>
                                <span class="d-block d-sm-none">
                                <i class="tim-icons icon-tap-02"></i>
                                </span>
                            </label>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="ethDataPred" data-gecode='{{data_eth_pred}}'></div>
                    <div id="ethDataAct" data-gecode='{{data_eth_act}}'></div>
                    
                    <div id="btcDataPred" data-gecode='{{data_btc_pred}}'></div>
                    <div id="btcDataAct" data-gecode='{{data_btc_act}}'></div>

                    <div id="xmrDataPred" data-gecode='{{data_xmr_pred}}'></div>
                    <div id="xmrDataAct" data-gecode='{{data_xmr_act}}'></div>

                    <div class="chart-area"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                    <canvas id="chartBig1" style="display: block; height: 220px; width: 454px;" width="1135" height="550" class="chartjs-render-monitor"></canvas>
                    </div>
                </div>
                </div>
            </div>

        </div>
            
            <div class="row">
            
            <div class="col-md-12">
                <div class="card card-plain">
                <div class="card-header">
                    <h4 class="card-title"> Daily Data </h4>
                </div>
                <div class="card-body">
                    <div class="table-full-width table-responsive ps ps--active-y">
                    <table class="table tablesorter " id="">
                        <thead class=" text-primary">


                        <tr>
                            <th class="text-center">
                            Symbol 
                            </th>
                            <th class="text-center">
                            Price
                            </th>
                            <th class="text-center">
                            Change
                            </th>
                            <th class="text-center">
                            % Change
                            </th>
                            <th class="text-center">
                            Open
                            </th>
                            <th class="text-center">
                            High
                            </th>
                            <th class="text-center">
                            Low
                            </th>
                            <th class="text-center">
                            Volume
                            </th>
                        </tr>
                        </thead>
                        <tbody id="DailyChart">
                        
                        
                        
                        </tbody>
                    </table>
                    <div class="ps__rail-x" style="width: 320px; left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
                </div>
                </div>
            </div>
            </div>

            <!-- <div class="row">
                <div class="col-md-12">
                    <div class="card card-plain">
                        <div class="card-header">
                            <h4 class="card-title"> News Feed </h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-9">
                                    <script type="text/javascript">
                                        baseUrl = "https://widgets.cryptocompare.com/";
                                        var scripts = document.getElementsByTagName("script");
                                        var embedder = scripts[ scripts.length - 1 ];
                                        var cccTheme = {"General":{"background":"#333","borderColor":"#121212"},"PoweredBy":{"textColor":"#EEE","linkColor":"#ffcc66"},"Data":{"priceColor":"#FFF","infoValueColor":"#FFF","borderColor":"#333"},"NewsItem":{"color":"#FFF","borderColor":"#444"},"Conversion":{"background":"#000","color":"#CCC"}};
                                        (function (){
                                        var appName = encodeURIComponent(window.location.hostname);
                                        if(appName==""){appName="local";}
                                        var s = document.createElement("script");
                                        s.type = "text/javascript";
                                        s.async = true;
                                        var theUrl = baseUrl+'serve/v1/coin/feed?fsym=ETH&tsym=USD';
                                        s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
                                        embedder.parentNode.appendChild(s);
                                        })();
                                    </script>
                                </div>


                            </div>

   
                        </div>

                    </div>
                </div>
            </div> -->


        </div>

            

            <footer class="footer">
                <div class="container-fluid">
                <ul class="nav">
                    <li class="nav-item">

                    </li>
                </ul>
                </div>
            </footer>
            

            <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div>
            <div class="ps__rail-y" style="top: 0px; right: 0px; height: 736px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 520px;"></div></div>
        
        </div>
        
    </div>

    
    <div class="fixed-plugin">
        <div class="dropdown show-dropdown">
        <a href="#" data-toggle="dropdown">
            <i class="fa fa-cog fa-2x"> </i>
        </a>
        <ul class="dropdown-menu">
            <li class="header-title"> Sidebar Background</li>
            <li class="adjustments-line">
            <a href="javascript:void(0)" class="switch-trigger background-color">
                <div class="badge-colors text-center">
                <span class="badge filter badge-primary active" data-color="primary"></span>
                <span class="badge filter badge-info" data-color="blue"></span>
                <span class="badge filter badge-success" data-color="green"></span>
                </div>
                <div class="clearfix"></div>
            </a>
            </li>
            <li class="adjustments-line text-center color-change">
            <span class="color-label">LIGHT MODE</span>
            <span class="badge light-badge mr-2"></span>
            <span class="badge dark-badge ml-2"></span>
            <span class="color-label">DARK MODE</span>
            </li>
            <li class="button-container">

            <a href="https://appseed.us/admin-dashboards/flask-dashboard-black" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-block btn-round">Download</a>

            <a href="https://appseed.us/admin-dashboards/open-source" target="_blank" rel="noopener noreferrer" class="btn btn-default btn-block btn-round">
                More Dashboards
            </a>
            </li>
            <li class="header-title">
            Coded by <a class="text-white" target="_blank" rel="noopener noreferrer" href="https://appseed.us">AppSeed</a>
                    
            </li>
            <li>
            <br>
            </li>
        </ul>

        </div>
    </div>
    

    
    <!--   Core JS Files   -->
    <script src="/static/assets/js/core/jquery.min.js"></script>
    <script src="/static/assets/js/core/popper.min.js"></script>
    <script src="/static/assets/js/core/bootstrap.min.js"></script>
    <script src="/static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!-- Chart JS -->
    <script src="/static/assets/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="/static/assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="/static/assets/js/black-dashboard.min.js?v=1.0.0"></script><!-- Black Dashboard DEMO methods, don't include it in your project! -->
    <script src="/static/assets/demo/demo.js"></script>
    

    
    <script>
        $(document).ready(function() {
        $().ready(function() {
            $sidebar = $('.sidebar');
            $navbar = $('.navbar');
            $main_panel = $('.main-panel');

            $full_page = $('.full-page');

            $sidebar_responsive = $('body > .navbar-collapse');
            sidebar_mini_active = true;
            white_color = false;

            window_width = $(window).width();

            fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



            $('.fixed-plugin a').click(function(event) {
            if ($(this).hasClass('switch-trigger')) {
                if (event.stopPropagation) {
                event.stopPropagation();
                } else if (window.event) {
                window.event.cancelBubble = true;
                }
            }
            });

            $('.fixed-plugin .background-color span').click(function() {
            $(this).siblings().removeClass('active');
            $(this).addClass('active');

            var new_color = $(this).data('color');

            if ($sidebar.length != 0) {
                $sidebar.attr('data', new_color);
            }

            if ($main_panel.length != 0) {
                $main_panel.attr('data', new_color);
            }

            if ($full_page.length != 0) {
                $full_page.attr('filter-color', new_color);
            }

            if ($sidebar_responsive.length != 0) {
                $sidebar_responsive.attr('data', new_color);
            }
            });

            $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
            var $btn = $(this);

            if (sidebar_mini_active == true) {
                $('body').removeClass('sidebar-mini');
                sidebar_mini_active = false;
                blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
            } else {
                $('body').addClass('sidebar-mini');
                sidebar_mini_active = true;
                blackDashboard.showSidebarMessage('Sidebar mini activated...');
            }

            // we simulate the window Resize so the charts will get updated in realtime.
            var simulateWindowResize = setInterval(function() {
                window.dispatchEvent(new Event('resize'));
            }, 180);

            // we stop the simulation of Window Resize after the animations are completed
            setTimeout(function() {
                clearInterval(simulateWindowResize);
            }, 1000);
            });

            $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
            var $btn = $(this);

            if (white_color == true) {

                $('body').addClass('change-background');
                setTimeout(function() {
                $('body').removeClass('change-background');
                $('body').removeClass('white-content');
                }, 900);
                white_color = false;
            } else {

                $('body').addClass('change-background');
                setTimeout(function() {
                $('body').removeClass('change-background');
                $('body').addClass('white-content');
                }, 900);

                white_color = true;
            }


            });

            $('.light-badge').click(function() {
            $('body').addClass('white-content');
            });

            $('.dark-badge').click(function() {
            $('body').removeClass('white-content');
            });
        });
        });
    </script>
    

    <!-- Specific Page JS goes HERE  -->
    

    <script>
        $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

        });
    </script>

</body>
</html>