

    {% extends "layouts/base.html" %}

    {% block title %} Register {% endblock %} 
    
    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}{% endblock stylesheets %}
    
    {% block content %} 
    
    
    <div class="row">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-header ">
                <div class="row">
                        <h1 class="card-title" id="aboutNostr">What is Nostradamus.ai</h1>
                        <div class="card">
                           
                            <h3 class="card-body">     -  Nostradamus.ai was set up to be a live and continuous experiment.</h4>
                            <h4 class="card-body"> 
                                
                                <p>     Thank you for checking out our project! We are Luis, Aaron, Kate, and Pearce. We wanted our project to serve as a rolling experiment capable of live-testing neural networks through time. </p>
                                <p>     We wanted our application to not only test a given model and store these predictions, but also to cleanly display this data and make it available to anybody who might be interested.</p>

                            </h4>

                            <h3 class="card-body">     -  The experiment: </h4>
                            <h4 class="card-body"> 
                                
                                <p>     We are taking all available daily historical data from the Cryptocompare.com API and storing it in our database. Then, we preprocess the data (Open, High, Low, Close to be used as features) and generate features corresponding to the following technical indicators: MACD, Stochastic RSI, Stochastic Oscillator, On-Balance Volume, and Average True Range. The previous indicators were used to introduce awareness of momentum, trend, volatility, and volume to the model. The last feature to be generated consists of a binary modulo timeseries sequence, which is expected to introduce better time-awareness to the model. The preprocessed data is then scaled using standard scaling and split in a rolling window fashion to train the model and predict the following "unseen" 14-day window of time. This process is scheduled to happen every 14 days, while the unprocessed data is scheduled to happen daily.</p>
                               
                            </h4>
                        
                        </div>
                </div>  
            </div>
        </div>
    </div>
</div>    


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

